body {
  font-family: sans-serif;
  background: rgb(136, 201, 252);
  text-align: center;
  padding: 30px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  width: 120px;
  height: 120px;
  background: white;
  border: 2px solid #333;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: move;
  resize: both;
  overflow: auto;
}